<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.springmvc.dao.UserDao" >
	<resultMap id="BaseResultMap" type="com.sc.springmvc.pojo.User" >
	    <id 	property="id" column="id" jdbcType="INTEGER" />
	    <result property="userName" column="userName" jdbcType="VARCHAR" />
	    <result property="password" column="password" jdbcType="VARCHAR" />
	    <result property="age" column="age" jdbcType="INTEGER" />
	    <result property="gender" column="gender" jdbcType="INTEGER" />
  	</resultMap>
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    	select 
    		*
    	from users
    		where id = #{id,jdbcType=INTEGER}
  	</select>
  	<select id="selectPage" resultType="com.sc.springmvc.pojo.User" parameterType="map">
  		select * from users
  	</select>
</mapper>